body {
    background: rgb(22, 29, 33);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(22, 29, 33, 1) 0%, rgba(20, 12, 11, 1) 41%, rgba(56, 21, 32, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(22, 29, 33, 1) 0%, rgba(20, 12, 11, 1) 41%, rgba(56, 21, 32, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(22, 29, 33, 1) 0%, rgba(20, 12, 11, 1) 41%, rgba(56, 21, 32, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#161d21', endColorstr='#381520', GradientType=1);
    /* IE6-9 */
}

.page {
    margin: 0 auto;
    width: 960px;
    height: 883px;
    background: url(../img/body.png);
    box-shadow: 0 -3px 15px 2px gray;
    border-bottom: 3px solid #031d28;
}

.logo {
    padding: 55px 79px 0px 79px;
    margin: 0px 0px -5px 0px;
}

.countries1 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 40px 0px;

}

.countries2 {

    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


.text {
    padding: 190px 0px 0px 0px;
    color: white;
    text-align: center;
    font-size: 10px;
}
.box1 {
  margin: 0px 5px;
}
